<!--
 @author : Kavya
@purpose : Login Page 
-->

<div class="container">
    <div class="col-sm-8 col-sm-offset-2">

        <!-- PAGE HEADER -->
        <div class="page-header"><h1>Login</h1></div>

        <!-- FORM -->
        <!-- pass in the variable if our form is valid or invalid -->
        <form name="formData" ng-submit="login()"> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
            <div class="form-group" ng-show="userstatus">
                <span><h3>{{userstatus}}</h3></span>
            </div>

            <!-- EMAIL -->
            <div class="form-group" ng-class="{'has-error':formData.email.$invalid && !formData.email.$pristine}">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="email" required>
                <span ng-show="formData.email.$dirty && formData.email.$error.required" class="help-block">Email required</span>
                <span ng-show="formData.email.$dirty && formData.email.$error.email" class="help-block">Not a valid email</span>
            </div>
            <div class="form-group" ng-class="{'has-error':formData.password.$invalid && !formData.password.$pristine}">
                <label>Password</label>
                <input type="password" name="password" class="form-control" ng-model="password" required>
                <span ng-show="formData.password.$dirty && formData.password.$error.required" class="help-block">Password required</span>
            </div>

            <!-- SUBMIT BUTTON -->
            <button type="submit" ng-disabled="formData.$invalid" class="btn btn-primary">Login</button>

        </form>
        <button class="btn btn-default" ng-click="facebookSignin()" ><i class="fa fa-facebook-square"></i></button>
        <button class="btn btn-warning" ng-click="googleSignin()"><i class="fa fa-google-plus-square"></i></button>
        <button class="btn btn-danger" ><i class="fa fa-linkedin-square"></i></button>
        <button class="btn btn-info" ><i class="fa fa-github-square"></i></button>
        <button class="btn btn-info" ><i class="fa fa-twitter-square"></i></button>

    </div><!-- col-sm-8 -->
</div><!-- /container -->

